
<nav class="sm:pt-8">
  <div class="mx-auto max-w-5xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button id="mobile-menu-button" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-zinc-600 dark:text-zinc-300 hover:bg-zinc-300 hover:dark:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg id="mobile-menu-open" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg id="mobile-menu-close" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="hidden sm:flex flex-1 items-center justify-center sm:items-stretch sm:justify-start space-x-6">
        {% for item in navigation.items %}
          {% if item.text == "GitHub" %}
            <a href="{{ item.url }}" class="flex py-3 text-base font-medium
            text-zinc-600 hover:text-zinc-900 border-zinc-900
            dark:text-zinc-400 dark:hover:text-zinc-300 dark:border-zinc-300
            hover:border-b-2 pr-2">
              <p class="pr-2">{{ item.text }}</p>
              <svg  class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
            </a>
          {% elsif item.url == page.url %}
            <a href="{{ item.url }}" class="py-3 text-base font-medium 
            text-zinc-800 border-zinc-800 
            dark:text-zinc-200 dark:border-zinc-200 border-b-2 block" aria-current="page">{{ item.text }}</a>
          {% else %}
            <a href="{{ item.url }}" class="py-3 text-base font-medium 
            text-zinc-600 hover:text-zinc-900 border-zinc-900
            dark:text-zinc-400 dark:hover:text-zinc-300 dark:border-zinc-300 
            hover:border-b-2 block">
              {{ item.text }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="dark:hidden rounded-lg text-zinc-600 hover:text-zinc-800 hover:bg-zinc-200 hover:dark:bg-zinc-700 p-2 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-800">
          <span class="sr-only">Dark Mode</span>
          <svg id="sun" class="w-6 h-6 text-amber-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>          
        </button>
        <button type="button" class="hidden dark:block rounded-lg text-zinc-400 hover:text-zinc-300 hover:bg-zinc-200 hover:dark:bg-zinc-700 p-2 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-800">
          <span class="sr-only">Light Mode</span>
          <svg id="moon" class="w-5 h-5 text-yellow-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      {% for item in navigation.items %}
        {% if item.text == "GitHub" %}
          <a href="{{ item.url }}" class="flex items-center rounded-md px-3 py-2
          text-zinc-600 hover:text-zinc-900 
          dark:text-zinc-400 dark:hover:text-zinc-200
          hover:bg-zinc-200 hover:dark:bg-zinc-700" aria-current="page">
            <p class=" block pr-2 text-base font-medium">{{ item.text }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
          </a>
        {% elsif item.url == page.url %}
        <a href="{{ item.url }}" class="block rounded-md px-3 py-2 text-base font-medium
        text-zinc-900 
        dark:text-zinc-200
        bg-zinc-200 dark:bg-zinc-700" aria-current="page">
          {{ item.text }}
        </a>
        {% else %}
        <a href="{{ item.url }}" class="block rounded-md px-3 py-2 text-base font-medium first-letter 
        text-zinc-600 hover:text-zinc-900 
        dark:text-zinc-400 dark:hover:text-zinc-200
        hover:bg-zinc-200 hover:dark:bg-zinc-700" aria-current="page">
          {{ item.text }}
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav> 